body {
   font-family: Arial, sans-serif;
 }
 
 .container {
   margin-top: 20px;
 }
 
 button {
   margin-left: 10px;
 }
 
 ul {
   list-style-type: none;
   padding: 0;
 }
 
 li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border: 1px solid #ddd;
   padding: 10px;
   margin-top: 5px;
 }
 
 li button {
   background-color: #ff5858;
   color: white;
   border: none;
   cursor: pointer;
 }


 .tareas{
  background-color: rgb(26, 26, 45);
  color: #ddd;
  width: auto;
  margin: 25px;
  padding: 10px;
  border: 2px solid #eee;
  align-items: center;
  border-radius: 10px;
 }

 .tasklist{
  border-radius: 3px;
 }

 .container, h1{
  display: flex;
  align-items: center;
  justify-content: center;
  
 }

button, input{
  background-color: #5a6291;
  padding: 10px;
  color: #eee;
  border-radius: 5px;
}

button:hover{
  color: rgb(83, 0, 128);
  cursor: pointer;
}
input{
  color: #ddd;
  
}
